:root{
    --box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  *,
  *::before,
  *::after{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  

  .body{
    height: 100vh;
  }

  .row{
    display: flex;
    justify-content: space-between;
  }
  
  .col{
    width: 100%;
  }

  button{
    width: 100%;
    height: 80px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 501;
    border-radius: 0 0 5px 5px;
    border: none;
    border-left: 2px solid;
    border-right: 2px solid;
    background-color: rgb(206, 203, 199);
    border-top: 2px solid;
    
  }

  /* selected button */
  .col.two button{
    background-color: white; 
    border:0; 
  }

  .col button:focus{
    background-color: rgb(255, 255, 255);
    border:0;
    
  }
  .col button:active{
    background-color: rgb(132, 124, 124);
    border:0;
    
  }

  button:hover{
    background-color: rgb(105, 99, 99);
    
  }

  table{
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    margin-top: 50px;
  }

  table,td,th{
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid lightgrey;
    border-collapse: collapse;
    text-align: center;
    cursor: pointer;
    font-size: 0.5rem;
  }

  td{
    font-size: 18px;
  }

  th{
    background-color: rgb(40, 38, 38);
    color: white;
    font-size: 1.5rem;
  }

  

  th:nth-child(1){
    border-radius: 10px 0 0 10px;
  }
  th:nth-child(3){
    border-radius: 0 10px 10px 0;
  }

  tr:nth-child(odd){
    background-color: lightgrey;
  }

  tr:hover{
    background-color: rgb(79, 77, 81);
    color: white;
  }

  h1{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-top: 30px;
    margin-left: 20px;

  }

  .table{
    margin-right: 40px;
    border-radius: 10px;
  }

  span button{
    height: 40px;
    width: 90px;
    font-size: 0.8rem;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
  }

.edit button:hover{
    background-color: rgb(118, 205, 4);
    
  }
.delete button:hover{
    background-color: rgb(219, 53, 19);
    
  }